@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;600;&display=swap");

:root {
  --body-color: #fafafa;
  --form-bg: #ffffff;
  --btn-color: #5046e4;
  --text-color: rgb(113 113 122/1);
  --border-color: rgb(212 212 216/1);
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: var(--body-color);
  padding: 20px;
}

h2 {
  font-weight: 600;
  font-family: "Inter", sans-serif;
}

#title {
  background-image: linear-gradient(to bottom right, #818cf8, #22d3ee);
  /* background-clip: text; */
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-color: #818cf8;
  color: transparent;
  text-align: center;
}
main {
  width: 100%;
}
main h2 {
  text-align: center;
}
.form-container {
  background-color: var(--form-bg);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
  margin-inline: auto;
  width: min(400px, 90%);
}
.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
label {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  margin: 5px 0;
}
input[type="text"],
input[type="password"] {
  outline: transparent;
  padding: 8px 12px;
  border: 1px solid var(--border-color);
  border-radius: 6px;
}
.forgot-pass {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left {
  display: flex;
  align-items: center;
  gap: 5px;
}
input[type="checkbox"] {
  border: 2px solid red;
}
.right p {
  font-size: 14px;
  font-weight: 500;
  color: var(--btn-color);
  font-family: "Inter", sans-serif;
}
.submit-group {
  padding: 8px 16px;
  background-color: var(--btn-color);
  border-radius: 6px;
  margin-bottom: 25px;
}
#submit-btn {
  display: flex;
  align-items: center;
}
a {
  text-decoration: none;
}
#sign-in {
  text-align: center;
  width: 100%;
  color: white;
  font-size: 14px;
  margin: 0;
}
#lock {
  height: 16px;
}
.text-indigo-500 {
  color: rgb(99 102 241/1);
}
.spacer {
  display: flex;
  margin-bottom: 25px;
}
.spacer p {
  padding: 0;
  margin: 0;
  font-size: 14px;
  color: var(--text-color);
}
hr {
  width: 30%;
  border-top: 1px solid var(--border-color);
  border-bottom: none;
  border-left: none;
  border-radius: none;
}
.oauth-group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  margin-bottom: 30px;
}
.oauth-group a {
  border: 1px solid var(--border-color);
  outline: transparent;
  padding: 8px 16px;
  width: 100%;
  border-radius: 6px;
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.oauth-logo {
  height: 24px;
  width: 24px;
}
.create-acc-group{
  margin-bottom: 15px;
}
.create-acc-group p {
  text-align: center;
}
.create-acc-group a{
  color: var(--btn-color);
  font-weight: 600;
}
.recapcha-group p{
  color: var(--text-color);
  font-size: 14px;
}
